@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve-whitespace {
  white-space: pre; /* or use 'pre' if you want to preserve only spaces and newlines */
}

.button {
  background-color: white;
  border-width: 1px;
}

.container {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#bot-textbox {
  background-color: #7c6fec;
  color: white;
  border-radius: 25px;
}

#bot-textbox-arrow {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-color: #7c6fec;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

#user-textbox-arrow {
  width: 32px;
  height: 32px;
  background-color: white;
  margin-right: -16px;
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
}

#user-textbox {
  background-color: white;
  color: #584cd7;
  border-radius: 20px;
  display: inline-block;
  word-break: break-word;
}

#chat-box {
  background: rgb(82, 55, 180);
  background: linear-gradient(
    347deg,
    rgba(82, 55, 180, 1) 0%,
    rgba(88, 76, 215, 1) 31%,
    rgba(69, 67, 245, 1) 100%
  );
  border-color: white;
  border-width: 2px;
  border-radius: 15px;
}

.uninteractable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#title {
  color: white;
  padding: 10px;
  padding-left: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#cog {
  opacity: 0.25;
  margin: 5px;
}

#cog:hover {
  animation: cog-turn 0.2s linear forwards;
}

@keyframes jump {
  0% {
    padding-bottom: 2px;
  }
  100% {
    padding-bottom: 5px;
  }
}

@keyframes cog-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes thinking {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80%,
  100% {
    content: "";
  }
}

.thinking::after {
  content: "";
  animation: thinking 1.5s steps(4, end) infinite;
}

.mascot {
  color: white;
  pointer-events: none;
}

.animate-jump {
  animation: jump 1s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.animate-jump-delayed {
  animation: jump 1s infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 400ms;
}

body {
  background-color: #29242e;
}
